Flask==3.0.3
Werkzeug==3.0.2
MarkupSafe==2.1.5
pdfplumber==0.11.0
pandas==2.2.3
numpy==2.1.2
# PyMuPDF==1.24.10
PyPDF2==3.0.1
openpyxl==3.1.5
python-dotenv==1.0.1
gunicorn==23.0.0
pycryptodome==3.21.0
pymongo[srv]==4.10.1
google-auth==2.35.0
requests==2.32.3
litellm>=1.40.0
